@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.dark_mode{
    background-color: black;
}
.bg-primario{
    background-color: #FFB700;
}
.bg-light-primario{
    background-color: #ffab3d;
}
*,::before,::after{
    border-color: #FFB700;
}
